In [1]:
import pandas as pd

df = pd.read_csv('Sig_Eqs.tsv',sep = '\t')
df

,Search Parameters,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Country,...,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description
0,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,-2150.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,JORDAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,-2000.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,SYRIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,-2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TURKMENISTAN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
4,NaN,-1610.0,NaN,NaN,NaN,NaN,NaN,3.0,1351.0,GREECE,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6268,NaN,2021.0,9.0,21.0,23.0,15.0,53.0,NaN,NaN,AUSTRALIA,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,46.0,1.0
6269,NaN,2021.0,9.0,27.0,6.0,17.0,22.0,NaN,NaN,GREECE,...,NaN,NaN,20.0,1.0,NaN,3.0,772.0,3.0,NaN,NaN
6270,NaN,2021.0,10.0,6.0,22.0,1.0,8.0,NaN,NaN,PAKISTAN,...,NaN,NaN,229.0,3.0,NaN,2.0,NaN,3.0,NaN,2.0
6271,NaN,2021.0,10.0,12.0,9.0,24.0,3.0,5817.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0
6272,NaN,2021.0,10.0,15.0,20.0,18.0,21.0,NaN,NaN,INDONESIA,...,NaN,NaN,82.0,2.0,NaN,3.0,366.0,3.0,524.0,3.0

In [3]:
df[df['Country'] == 'CHINA']['Country'].count()

610

In [4]:
#df[df['Country'] == 'CHINA']['Mag'].max()
#
df1 = df[df['Country'] == 'CHINA']
df1[df1['Mag']==df1['Mag'].max()][['Country','Mag','Year','Mo','Dy']]

    Country  Mag    Year   Mo    Dy
973   CHINA  8.5  1668.0  7.0  25.0

In [51]:
countrylist = df['Country'].unique()
result = df[['Country','Mag','Year','Mo','Dy']].head(0)

def CountEq_LargestEq(a):
    df1 = df[df['Country'] == str(a)]
    df2 = df1[df1['Mag']==df1['Mag'].max()][['Country','Mag','Year','Mo','Dy']] 
    df2['total_number'] = df[df['Country'] == str(a)]['Country'].count()
    global result
    result = result.append(df2)
    

for i in countrylist:
    CountEq_LargestEq(i)
    
result.sort_values('total_number',ascending=False,ignore_index=True)

              Country  Mag    Year    Mo    Dy  total_number
0               CHINA  8.5  1668.0   7.0  25.0         610.0
1               JAPAN  9.1  2011.0   3.0  11.0         409.0
2           INDONESIA  9.1  2004.0  12.0  26.0         401.0
3                IRAN  7.9   856.0  12.0  22.0         380.0
4              TURKEY  7.8  1912.0   8.0   9.0         330.0
..                ...  ...     ...   ...   ...           ...
162             PALAU  7.6  1914.0  10.0  23.0           1.0
163            NORWAY  5.8  1819.0   8.0  31.0           1.0
164  FRENCH POLYNESIA  6.5  1848.0   7.0  12.0           1.0
165          KIRIBATI  7.6  1905.0   6.0  30.0           1.0
166           COMOROS  5.9  2018.0   5.0  15.0           1.0

[167 rows x 6 columns]

In [27]:
noaa = pd.read_csv('2281305.csv')
wind = noaa[['DATE','WND']]
wind[['DA','DQC','TC','SR','SQC']] = wind['WND'].str.split(',',5,expand = True)
wind

C:\Users\92303\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                       DATE             WND   DA DQC TC    SR SQC
0       2010-01-02T00:00:00  040,1,N,0020,1  040   1  N  0020   1
1       2010-01-02T01:00:00  999,9,V,0010,1  999   9  V  0010   1
2       2010-01-02T02:00:00  999,9,C,0000,1  999   9  C  0000   1
3       2010-01-02T03:00:00  140,1,N,0010,1  140   1  N  0010   1
4       2010-01-02T04:00:00  300,1,N,0040,1  300   1  N  0040   1
...                     ...             ...  ...  .. ..   ...  ..
111979  2020-09-11T17:00:00  170,1,N,0030,1  170   1  N  0030   1
111980  2020-09-11T18:00:00  180,1,N,0040,1  180   1  N  0040   1
111981  2020-09-11T19:00:00  220,1,V,0030,1  220   1  V  0030   1
111982  2020-09-11T20:00:00  260,1,N,0030,1  260   1  N  0030   1
111983  2020-09-11T21:00:00  310,1,V,0020,1  310   1  V  0020   1

[111984 rows x 7 columns]

In [30]:
paqccwind = wind[wind["SQC"] == 1]
paqccwind

Empty DataFrame
Columns: [DATE, WND, DA, DQC, TC, SR, SQC]
Index: []